h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
}

#board {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 320px;
  height: 320px;
  background-color: #bdbdbd;
  border: 2px solid black;
}

.cell {
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  cursor: pointer;
  user-select: none;
  border: 1px solid black;
  background-color: #e0e0e0;
}

.cell:hover {
  background-color: #d0d0d0;
}
.cell.open {
  background-color: #fff;
}
.mine {
  color: red;
}

.flag {
  color: blue;
}

#info {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
}

#minesLeft {
  margin-right: 20px;
}

#minesTotal {
  margin-left: 20px;
}

button {
  font-size: 30px;
  cursor: pointer;
}
